$main-color: rgb(255, 255, 255);
$second-color: rgba(211, 17, 17);
$bgc-color: rgba(1,1,1,1);
$shadow: rgba(1,1,1,.2);




$black-gradient: linear-gradient(0deg, rgba(53,52,59,1) 0%, rgba(0,0,0,1) 0%, rgba(210,210,210, .1) 100%);
$shadow-gradient: linear-gradient(0deg, rgba(53,52,59,1) 0%, rgba(0,0,0,1) 0%, rgba(210,210,210,.1) 60%);
$header-gradient: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(32,31,38,.7) 50%, rgba(0,0,0,1) 86%);
$menu-color: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(32,31,38,1) 50%, rgba(0,0,0,1) 86%);

